.korzina {
  &-linkes {
    margin-top: 100px;
    display: flex;
    gap: 30px;

    &__link {
      padding-right: 30px;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: #414141;
      background: url("../../assets/images/images/chevron-right.svg") no-repeat;
      background-position: 60px -4px;
      &:hover {
        color: #ff6633;
      }
    }
    &__link1 {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: #414141;
      &:hover {
        color: #ff6633;
      }
    }
  }
  &__name {
    margin-top: 24px;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    color: #414141;
  }

  &-product {
    &__link {
      display: flex;
      margin-top: 64px;
      gap: 48px;
      align-items: center;
    }
    &__delete {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: #ff6633;
    }
  }
  &-data {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  &-carts {
    margin-top: 32px;
    // display: flex;
  }
  &-cart {
    display: flex;
    margin-top: 20px;
    padding: 5px;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    box-shadow: 3px 3px 5px 5px rgb(0, 0, 0, 0.1);
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
      box-shadow: 3px 3px 5px 5px rgba(244, 31, 31, 0.4);
    }
    &__min-box {
      display: flex;
      margin-top: 10px;
      align-items: center;
      gap: 15px;
    }
    &__btn1 {
      padding: 8px 30px;
      margin-left: 100px;
      background-color: #70c05b;
      border: none;
      border-radius: 4px;
      color: #fff;
    }
    &__price {
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      color: #414141;
    }
  }

  &-price {
    display: block;
    justify-content: center;
    &__img {
      width: 100%;
    }
    &__products {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    &__itog {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    &__btn1 {
      text-align: center;
      padding: 10px 90px;
      background-color: #fcd5ba;
      color: #ff6633;
      border: none;
      border-radius: 4px;
      margin-top: 50px;
      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
        background-color: #ff6633;
        color: #fff;
      }
    }
  }
}

.footer-img {
  width: 100%;
  margin-top: 100px;
}
